.homeContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin: 1rem;
}

.btn{
    width: 9rem;
    height: 5rem;
    margin: 1rem;
}

.ContainerTeam1{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    max-width: 40%;
}

.form-card-title{
    margin: 1rem;
    width: 12rem;
    height: 1rem;

}

.img{
    border: 0.1rem solid black;
    margin: 1rem;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
}

.form-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    background-color: #dddddd;
    padding: 1rem;
}

.informacoes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    background-color: #356abc;
    padding: 1rem;

}



.buttonContainer{
    display: flex;
    flex-direction: row;

}

.Pesquisa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.TeamName{
    width: 20rem;
    margin: 1rem;
}

.SearchContainer{
    display: flex;
    flex-wrap: wrap;
    border: 0.1rem solid black;
    border-radius: 2rem;
    justify-content: center;
    margin: 2rem;
    background-color:red;
}

.Team1{
    display: flex;
    flex: row;
    justify-content: center;
    border: 0.1rem solid black;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;
    background-color:steelblue;
    width: 90%;
}

.features{
    display: flex;
    flex-direction: column;
    border: 0.1rem solid black;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
}